---
layout: default-alt
title: Advanced Diploma in Education Primary
---

<h1>
    {{ page.title }}
</h1>

{% include banner.html %}

<table id="table_posting" class="data-table">
    <thead>
        <tr>
            <th>
                NO
            </th>
            <th>
                LAST NAME
            </th>
            <th>
                INIT
            </th>
            <th>
                FIRST NAME
            </th>
            <th>
                GC NUMBER
            </th>
            <th>
                PHONE
            </th>
            <th>
                PROGRAMME
            </th>
            <th>
                MEMO
            </th>
        </tr>
    </thead>
    <tbody>
        {% for grade in site.data.sample %}

        {% assign prog = grade.program | downcase %}
        {% assign title = page.title | downcase %}

        {% if prog == title %}

        <tr>
            <td>
                {{ grade.no }}
            </td>
            <td class="blur">
                {{ grade.lname }}
            </td>
            <td class="blur">
                {{ grade.init }}
            </td>
            <td>
                {{ grade.fname }}
            </td>
            <td>
                {{ grade.gc }}
            </td>
            <td>
                {{ grade.phone}}
            </td>
            <td>
                {{ page.title }}
            </td>
            <td>
                <a href="{{ grade.gc | datapage_url: '/students' }}">
                    link
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>