---
layout: default-alt
title: Advanced Diploma in Education Islamic
---

<h1>
    {{ page.title }}
</h1>

{% include banner.html %}

<table id="table_posting" class="data-table">
    <thead>
        <tr>
            <th>
                LAST NAME
            </th>
            <th>
                INIT
            </th>
            <th>
                FIRST NAME
            </th>
            <th>
                GC NUMBER
            </th>
            <th>
                PHONE
            </th>
            <th>
                PROGRAMME
            </th>
            <th>
                MEMO
            </th>
        </tr>
    </thead>
    <tbody>
        {% for grade in site.data.students-postings %}

        {% assign prog = grade.programme | downcase %}
        {% assign title = page.title | downcase %}

        {% if prog == title %}

        {% if grade.check == "TRUE" %}




        <tr>
            <td class="blur">
                {{ grade.stu-last }}
            </td>
            <td class="blur">
                {{ grade.initial }}
            </td>
            <td>
                {{ grade.stu-name }}
            </td>
            <td>
                {{ grade.gc }}
            </td>
            <td>
                {{ grade.phone}}
            </td>
            <td>
                {{ grade.programme }}
            </td>
            <td>
                <a class="btn" href="{{ grade.gc | datapage_url: '/gc-journal/memos-2021-09-20/students' }}">
                    View Memo
                </a>
            </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>