body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12pt;
  line-height: 1.5;
}

.memo {
  max-width: 210mm;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding: 20px;

  overflow: hidden;

  > * + * {
      margin-top: 24px;
  }

  border: 2px solid black;
}

.memo__signature {
  position: absolute;
  width: 250px;
  bottom: -20px;
  left: 350px;
  //right: 200px;
}

.memo__header {
    text-align: center;
}

.memo__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memo__logo {
  margin: 0;
  display: flex;
  width: 60px;
  overflow: hidden;
  img {
      margin: auto;
      display: block;
  }
}

.memo__details {

}

.memo__title {
    margin: 0;
    font-size: 16pt;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.memo__sub-title {
    font-size: 12pt;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    margin-bottom: 5px;
}

.memo__sub-brand {
    text-align: center;
}

.memo__address-line {
  font-size: 12pt;
}

.memo__receiver {
  margin-top: 16px;
  font-style: normal;
}

.memo__sub-brand-title {
  font-family: 'Old English Text MT', Georgia, 'Times New Roman', Times, serif;
  font-size: 14pt;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
}

.memo__body {
  margin-top: 16px;
}