<!--  In the name of God, the Most Gracious, the Most Merciful -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/memos.css">
  </head>
  <body>
      <div class="page">
          <header class="header">
            {% include utilities/header.html %}
          </header>
    
          <main id="main" class="main">
            {{ content }}
          </main>
    
          <footer class="footer">
            {% include utilities/footer.html %}
          </footer>
      </div>
  </body>
</html>